<a class="login" *ngIf="user">You are logged in as {{user['user'].username}}</a >
<a class="login3" routerLink="/login">Logout</a>

<form addUser="ngForm" [formGroup]="loginForm" (ngSubmit)="addUser()">

  <table>
    <tr>
      <td class="login1">
        <h3>Register Page</h3>
        <label>
          Product Id <input formControlName="productId" type="text">
          <br><br>
        </label>
        <div class="alert" *ngIf="!loginForm.controls['productId'].valid && loginForm.controls['productId'].touched">
          This is required</div>
        <label>
          Full Name <input formControlName="name" type="text">
          <br><br>
        </label>
        <div class="alert" *ngIf="!loginForm.controls['name'].valid && loginForm.controls['name'].touched">
          This is required</div>
        <label>
          Quantity<input formControlName="quantity" type="text" placeholder="kg">
          <br><br>
        </label>
        <div class="alert" *ngIf="!loginForm.controls['quantity'].valid && loginForm.controls['quantity'].touched">
          This is required</div>
        <label>
          Phone Number <input formControlName="number" type="text"><br><br>
        </label>
        <div class="alert" *ngIf="!loginForm.controls['number'].valid && loginForm.controls['number'].touched">
          This is required</div>
        <input type="submit" value="submit" [disabled]="!loginForm.valid"><br><br>
      </td>
    </tr>
  </table>
</form>
