<a class="login" *ngIf="user">You are logged in as {{user['user'].username}}</a >
<a class="login1" routerLink="/login">Logout</a>
<table class="">
    <tr>
        <td class="a">
            <h3>Market House</h3>

        </td>
    </tr>
    <tr>
        <td class="c">
            <h3> Add the products to be sold</h3>

            <form addUser="ngForm" [formGroup]="pForm" (ngSubmit)="addProducts()">
                            <label>
                                Products <input formControlName="product" type="text">
                                <br><br>
                            </label>
                            <div class="alert" *ngIf="!pForm.controls['product'].valid && pForm.controls['product'].touched">
                                This is required</div>
                            <label>
                                Price<input formControlName="price" type="text">
                                <br><br>
                            </label>
                            <div class="alert" *ngIf="!pForm.controls['quantity'].valid && pForm.controls['quantity'].touched">
                                This is required</div>

                            <input type="submit" value="submit" [disabled]="!pForm.valid"><br><br>
            </form>

        </td>
    </tr>
</table>

